! Color theme gjm

*cursorColor:   #a4e167

*background:    #1c1c1c
*foreground:    #c5c5c5

!black
*color0:        #1c1c1c
*color8:        #666666

!red
*color1:        #ff005b
*color9:        #ff00a0

!green
*color2:        #a4e167
*color10:       #ccff00

!yellow
*color3:        #ffe755
*color11:       #ff9f00

!blue
*color4:        #048ac7
*color12:       #48c6ff

!magenta
*color5:        #a867e1
*color13:       #be67e1

!cyan
*color6:        #0ac1cd
*color14:       #63e7f0

!white
*color7:        #e5e5e5
*color15:       #f3f3f3

! Font
xterm*faceName: Letter Gothic
xterm*faceSize: 11.5

! Make every shell a login shell
xterm*loginshell: true

! Scrollback
xterm*savelines: 16384

! Geometry
xterm*geometry: 80x50

! stop terminal output from jumping to bottom of scroll
xterm*scrollTtyOutput: false

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

xterm*intensityStyles: false
